# Исследование статистики чемпионата мира по автогонкам класса Формулы-1 с 1950 по 2017 год

In [2]:
from pandas import Series, DataFrame, read_csv
import pandas as pd
import numpy as np

## Для начала посчитаем общую статистику

In [119]:
seasons = read_csv('dataset/f1_seasons.csv')
races = read_csv('dataset/f1_races.csv')
print 'Общее количество проведенных чемпионатов: {}'.format(seasons.shape[0])
print 'Общее количество проведенных гонок: {}'.format(races.shape[0])

Общее количество проведенных чемпионатов: 68
Общее количество проведенных гонок: 976

## А теперь изучим географию

### Сколько всего стран принимали этапы чемпионата мира

In [73]:
circuits = read_csv('dataset/f1_circuits.csv')
races = races.merge(circuits, left_on='circuit', right_on='name', how='left')
races = races[['year', 'country', 'location']]
print 'Итого: {}'.format(races.country.unique().shape[0])

Итого: 32

### Сколько всего городов принимали этапы чемпионата мира

In [74]:
print 'Итого: {}'.format(races.location.unique().shape[0])

Итого: 69

### Сделаем группировку по количеству Гранд-при в каждой стране

In [92]:
races.groupby('country')['country'] \
.agg(['count']) \
.sort_values('count', ascending=False)

              count
country
Italy            95
Germany          76
UK               71
USA              68
Monaco           64
Belgium          62
France           59
Spain            54
Canada           48
Brazil           45
Japan            35
Australia        33
Hungary          32
Austria          30
Netherlands      30
South Africa     23
Argentina        20
Malaysia         19
Mexico           18
Portugal         16
China            14
Bahrain          13
Singapore        10
UAE               9
Turkey            7
Sweden            6
Switzerland       5
Korea             4
Russia            4
India             3
Azerbaijan        2
Morocco           1

Как видно, больше всего Ф-1 любит приезжать в Италию, а в Марокко, видимо, заехали по случайности.

### Сделаем группировку по наиболее популярным городам Гранд-при

In [116]:
cities = races.groupby(['location', 'country'])['location'] \
.agg(['count']) \
.sort_values('count', ascending=False)
cities.head(10)

                         count
location    country
Monza       Italy           67
Monte-Carlo Monaco          64
Silverstone UK              51
Spa         Belgium         50
Nürburg     Germany         40
Montreal    Canada          38
São Paulo   Brazil          35
Hockenheim  Germany         35
Budapest    Hungary         32
Zandvoort   Netherlands     30

Как видно, ни один город не принимал этапы все 68 сезонов подряд, но итальянский город Монца был к этому очень близок.

### Для наглядности, 10-ка наименее популярных городов

In [117]:
cities.tail(10)

                           count
location         country
Quebec           Canada        2
Lisbon           Portugal      1
Casablanca       Morocco       1
Le Mans          France        1
Styria           Austria       1
Castle Donington UK            1
Florida          USA           1
Dallas           USA           1
Pescara          Italy         1
Berlin           Germany       1

## С географией более-менее разобрались, можно переходить к гонщикам